/* homr page html*/
@media only screen and (max-device-width:480px) {


    header{
        background: linear-gradient(to bottom right ,rgb(15, 14, 14),rgb(76, 78, 76));
        height: 740px;
        
    }
    header>.navbardiv{
      
      display: flex;
        width: 145px;
        align-items: center;
       
    
    }
    header>.img1>img{
        height: 400px;
        width: 390px;
    
        
    }
    header>.img1{
        
        box-shadow:3px 0px 01px 0px;
        flex-wrap: wrap;
        height: auto;
        width: 390px;
        bottom: 20px;
        position: absolute;
    }
    header>.navbardiv>h1{
        color: white;
        text-wrap:nowrap;
        margin-left: 10px;
       
    }
    header>.navbardiv>h1::first-letter{
        font-family:serif;
        color: red;
        font-size: 40px;
        text-shadow: 0px 0px 8px  rgb(236, 236, 234);
    }
    
    li>a{
        text-decoration: none;
        color: white;
        font-size: x-large;
        
    }
    li>a:hover{
        text-decoration: none;
        color: rgb(244, 198, 198);
        
        
    }
 
    header>div{
        float: left;
    
    }
    nav>li{
    list-style-type:none;
    }
    .img1>.divcontent{
        
        width: 390px;
        margin-left: 0px;
        text-align: center;
        color: white;
        
    }
    .img1>.divcontent>h1{
    color:red;
    }
    
    .loginbutton>button{
        height: 40px;
        width: 90px;
        border-radius: 30px;
        background: linear-gradient(to right, rgb(15, 14, 14),rgb(76, 78, 76));
        color: white;
        margin: 0px 0px 0px 140px;
        
        
        
       
    }
    header>.navbardiv>nav{
        display: flex;
        justify-content: center;
        gap: 3px;
        font-size: large;
        padding-top: 10px;
        clear: both;
        overflow: hidden;
      
    
}.divcontent>.heading{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color:red;
    font-weight: 600;
    text-transform: uppercase;
    border-right: 4px solid;
    white-space: nowrap;
    text-wrap: wrap;
    overflow: hidden;
    animation: typing 4.5s steps(30),
         cursor 0.5s step-end infinite alternate;
}
@keyframes cursor {
    50%{border-color: transparent;}
   
    
}
@keyframes typing {
    from {
        width: 80%;
    }
    to{width: 100%;}

}

/* section 1*/
.section1{
    height: 400px;
    width: 100%;
    background-color: rgb(197, 200, 202);
    white-space: nowrap;
    overflow-x: auto;
    
}
.section1>.images{
    border: 1px solid red;
    height: 260px;
    width: 220px;
    display: inline-block;
    margin:  60px 40px;
    

}
.section1>.images>.imagecontent{
    height: 80px;
    width: 100%;
    background-color: palevioletred;
}
.section1>.images>.imagecontent>button{
    height: 40px;
    width: 90px;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(15, 14, 14),rgb(76, 78, 76));
    color: white;
    margin: 15px 0px 0px 60px;
    
}
/*footer css*/
footer>.sociallink{
    height: auto;
    width: auto;
    float: right;
    margin-right: 20px;
    text-align: center;
    


}
footer>.sociallink>a>svg{
    margin-left: 9px;


}
footer>.copyrightdisclaimer{
    clear: both;
    text-align: center;
    height: 30px;
    background-color: blue;
    color: white;
    align-items: center;
}
footer>form>input{
    margin-bottom: 10px;
    outline: none;

    
}
footer>form{
    text-align: center;
}

footer>form>.send{
    text-align: center;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    color: white;
    background-color: rgb(31, 30, 30);
}
}
/* destop css use media */

@media only screen and (min-width:480px){
header{
    background: linear-gradient(to right ,rgb(61, 60, 60),rgb(14, 15, 14));
    height: 1050px;
    width: auto;
}
header>.navbardiv{
    justify-content: space-between;
    display: flex;
  
    width: 1405px;
    align-items: center;
   

}
header>.img1>img{
    height: 600px;
    
}
header>.img1{
    height: 600px;
    width:1400px;
    box-shadow:3px 9px 4px 7px;
}
li>a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    
}
li>a:hover{
    text-decoration: none;
    color: rgb(244, 198, 198);
    
    
}
header>.navbardiv>nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: large;
    padding-top: 10px;
  
}
header>.navbardiv>h1{
    color: white;
   
}
header>div{
    float: right;
}
nav>li{
list-style-type:none;
}

div>button{
    height: 40px;
    width: 120px;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(15, 14, 14),rgb(76, 78, 76));
    color: white;
    margin: 0px 10px 0px 0px;
   
}
div>button:hover{
    /* background:  linear-gradient(to left, #bf42f5 40%,#65bbfc); */
    opacity: 0.5;
}
.img1>.divcontent{
    float: left;
    text-align: center;
    height: 300px;
    width: 600px;
    color: white;
    margin: 110px 70px;
    

}
.divcontent>.heading{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color:red;
    font-weight: 600;
    text-transform: uppercase;
    border-right: 4px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4.5s steps(30),
         cursor 0.5s step-end infinite alternate;
}
@keyframes cursor {
    50%{border-color: transparent;}
   
    
}
@keyframes typing {
    from {
        width: 0
    }
    to{width: 100%;}
}

}



/* login page css */
.loginBackground{
    background: linear-gradient(to bottom left, rgb(16, 15, 15),rgb(77, 79, 77));
    background-repeat: no-repeat;
    height: 780px;
    
}
.loginDiv{
    height: 570px;
    width: 360px;
    background-color: rgb(254, 254, 254);
    margin: auto;
    box-shadow: 4px 4px 5px 3px;
    border-radius: 5px;


}
.loginDiv>input{
   
   border: none;
   padding-left: 55px;
   outline: none;
}
.loginbtn{
    height: 30px;
    width: 230px;
    font-family: sans-serif;
    padding-right: 40px;
    border-radius: 30px;
    color: white;
    position: relative;
    left: 65px;
    background:  linear-gradient(to left,  rgb(28, 27, 27),rgb(107, 109, 107));
}
.loginDiv>h1{
    text-align: center;
    font-family: sans-serif;
}
.loginDiv>label{
    padding-left: 55px;

}
.loginDiv>.labelsignup{
    padding-left: 55px;
    padding-left: 110px;

}
.loginDiv>a{
    
    text-decoration: none;
    padding-left: 45%;
}
.loginDiv>.forgot{
    
    text-decoration: none;
    padding-left: 190px;
}
.loginDiv>hr{
    width: 240px;
}
.loginbtn:hover{
    opacity: 0.8;
    
}
.logoDiv{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.divstyle{
    height: 300px;
    width: 200px;
    box-shadow: 2px 2px 2px 2px;
    position: absolute;
    top: 450px;
    transform:rotate(40deg);
    left: 1px;
    opacity: 60%;
}
.divstyle1{
    height: 400px;
    width: 250px;
    box-shadow: 2px 2px 2px 2px;
    position: absolute;
    top: 450px;
    transform:rotate(-40deg);
    left: 1px;
    opacity: 60%;
    float: right;
    margin-left: 90%;
}
footer>p{
    text-align: center;
    font-family: sans-serif;
    opacity: 0.5;
    position: relative;

}
footer{
    padding: 40px 0px;
    
}
.logo{
    padding: 20px 140px 0px;
}